@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Square+Peg&family=Ubuntu:wght@400;700&display=swap');

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

.about-content img {
    width: 80%;
    border-radius: 15px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description a {
    display: inline-block;
    background: #3B3C36;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
    margin-top: 8px;
    border-radius: 6px;
    border: 2px solid #3B3C36;
    transition: all 0.3s ease;
    text-decoration: none;
}

.description a:hover {
    color: #3B3C36;
    background: none;
}

.description p {
    text-align: justify;
    font-size: 0.9em;
}


.title {
    color: #3B3C36;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;

}


@media only screen and (max-width: 576px) {
    .about-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-content img {
        width: 100%;
        margin-bottom: 10px;
    }

    .description a {
        align-self: center;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .about-content {
        grid-template-columns: repeat(1, 1fr);
    }
}