@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Square+Peg&family=Ubuntu:wght@400;700&display=swap');

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 20px;
    margin-bottom: 50px;
    
}

.shoot-title {
    color: #3B3C36;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}


@media only screen and (max-width: 576px) {
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}