.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 0 auto; */
    grid-gap: 20px;
}


@media only screen and (max-width: 576px) {
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}