@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Square+Peg&family=Ubuntu:wght@400;700&display=swap');

.service-card {
    border: 1px solid lightgray;
    border-radius: 10px;
}

.service-card img {
    width: 100%;
}


.service-card:hover {

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-info h4,
p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    
}

.service-card a {
    text-align: center;
    width: 100%;
    display: inline-block;
    background: #3B3C36;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin-top: 8px;

    border: 2px solid #3B3C36;
    transition: all 0.3s ease;
    text-decoration: none;
}

.service-card a:hover {
    color: #3B3C36;
    background: none;
}